*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}
:root{
    --orange:#F2C14E;
    --winning-blocks: #2d414b;
}

body{
    color:var(--orange);
    font-family:'Finger Paint',cursive;
}
h1{
    font-size:54px;
    text-transform: uppercase;
}
.container{
    padding:35px;
    height: 100vh;
    display: flex;
    background-color: #37505C;
    align-items: center;
    flex-direction:column;
}
#gameboard{
    width:450px;
    display: flex;
    flex-wrap:wrap;
    border-radius: 40px;
    background-color:#4F6D6A ;
}
.box{
    height:150px;
    width:150px;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    border-right:5px solid;
    border-bottom:5px solid;
    text-align: center;
    padding-bottom: 70px;
}
.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(6)~.box{
    border-bottom: none;
}
button{
    padding:10px 20px;
    background-color: var(--orange);
    border-radius: 10px;
    border-color: var(--orange);
    color:  #37505C;
    font-size: 18px;
    font-weight: 600;
    margin:20px;
}


